.app-splash-screen {
  background-image: url("./../../assets/backg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
}
  
  .app-label {
    margin-top: 10px;
    color: #000;
    font-size: 2.5em;
    font-family: "Brush Script MT", cursive;
  }

  .app-copy{
    margin-top: 130px;
  }
  
  .app-splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .app-logo {
    margin-top: 150px;
    background: url("./../../assets/LogoHSJ.png");
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-size: contain;
    width: 250px;
    height: 150px;
  }
  
  .app-loader {
    background: url("./../../assets/DualBall-1s-200px.svg");
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-size: contain;
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }